nltk
pyodbc
SQLAlchemy
rdflib
fuzzywuzzy
langchain
langchain-community
langchain-core
langchain-text-splitters
ctransformers
safetensors
scikit-learn
openpyxl
streamlit
pandas
pickle-mixin
pymupdf
requests
boto3
pdfplumber
faiss-cpu==1.7.2

setuptools
