nltk
pyodbc==5.1.0
SQLAlchemy==2.0.30
rdflib==7.0.0
fuzzywuzzy
langchain
langchain-community==0.2.4
langchain-core
langchain-text-splitters
ctransformers
safetensors==0.4.3
scikit-learn
openpyxl==3.0.9
streamlit==1.18.1
pandas==1.3.5
pickle-mixin==1.0.2
pymupdf==1.19.6
requests
boto3
pdfplumber
faiss-cpu==1.7.2
dotenv
setuptools==57.5.0
