streamlit-chat==0.1.1
nltk
pyodbc==5.1.0
SQLAlchemy==2.0.30
rdflib==7.0.0
fuzzywuzzy
langchain
langchain-community==0.2.4
langchain-core
langchain-text-splitters
ctransformers
safetensors==0.4.3
scikit-learn
openpyxl
streamlit
pandas
rdflib
pickle-mixin
pyodbc
openpyxl
pymupdf
requests
boto3
